.App-modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    top:0;
    left:0;
    opacity: 0;
    transition: 0.4s;
}

.ModalLogin__content {
    padding: 20px;
    border-radius: 20px;
    background-image: -moz-linear-gradient( 90deg, rgb(200, 233, 233) 0%, rgb(240,242,242) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(200, 233, 233) 0%, rgb(240,242,242) 100%);

    display: flex;
    flex-direction: column;
    transform: scale(0.5);
    transition: 0.4s;
}

.Modal-form {
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.ModalLogin__label {
    display: flex;
    flex-direction: column;
}
.App-button {
   
    padding-inline: 75px;
    padding-block: 8px;
    border-radius: 20px;
    font-size: 16px;
    border-style: none;
    color: rgb(240, 242, 242);
    background-color: rgb(111, 191, 191);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    font-family: "Century Gothic";
    box-shadow: 5.785px 6.894px 16.56px 1.44px rgba(0, 0, 0, 0.26);
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-button:hover {
    transform: scale(0.95);
    background-color: rgb(65, 136, 136);
}
input {
    font-family: "Century Gothic";
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: rgb(240, 242, 242);
    box-shadow: inset 1.847px 2.364px 0px 0px rgba(0, 0, 0, 0.15);
  }


.App-modal.active {
    opacity: 1;
    pointer-events: all;
    
}

.ModalLogin__content.active {
    transform: scale(1);
}